/*
font-family: 'Cabin', sans-serif;
font-family: 'Lobster', cursive;
*/
body {
    color: #373A3C;
    font-family: 'Cabin', sans-serif;
}

.container-fluid {
    margin: 0;
}

.tooltip-margin {
    margin: 5px;
}

.btn {
    border: 1px solid #DDDDDD;
    color: #373A3C;
}

.row {
    padding-left: 37px;
    padding-right: 37px;
}

h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}

@media (min-width: 992px) {
    .row {
        padding-left: 150px;
        padding-right: 150px;
    }

    h1 {
        font-size: 40px;
        line-height: 49px;
        font-weight: bold;
    }
}


/* ---- Navbar ---- */
#navbar {
    background-color: #373A3C;
    height: 60px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 37px;
}

.navbar-dark .navbar-toggler {
    border: 1px solid #777777;
}

.nav-link {
    color: #FFF !important;
}

.nav-link:hover {
    color: #DDDDDD !important;
}


/* ---- Header Styles ---- */
#header {
    margin-top: 14px;
    margin-bottom: 34px;
}

.separator_mobile {
    width: 100%;
    margin-bottom: 14px;
    border: 1px solid #373A3C;
    opacity: 1;
}

@media (max-width: 575.98px) {
    .description {
        margin-top: 13.5px;
    }

    .tiempo {
        font-size: 20px;
        line-height: 30px;
    }
}

.tiempo {
    font-weight: bold;
}

@media (min-width: 992px) {
    #header {
        margin-top: 24px;
        margin-bottom: 68px;
    }

    .tiempo {
        font-size: 20px;
    }
}


/* ---- Carousel Styles ---- */
#img-carousel {
    padding: 0 8px;
}

#carouselExampleIndicators {
    height: 210px;
}

.carousel-indicators [data-bs-target] {
    background-color: #373A3C;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}


/* ---- Ingredientes y preparacion ---- */
#pizza_recipe {
    font-size: 20px;
    line-height: 30px;
}

@media (min-width: 992px) {
    #pizza_recipe {
        margin-bottom: 21px;
    }

    #preparacion {
        margin-left: 8px;
    }
}

/* ---- Recetas relacionadas ---- */
@media (max-width: 575.98px) {
    #other_recipe > .col-lg {
        padding: 0;
    }

    #recipe_1 , #recipe_2 {
        margin-bottom: 20px;
    }

    #recipe_3 {
        margin-bottom: 44px;
    }
}

#pic_recipe {
    height: 180px;
    overflow: hidden;
}

#recipe_title {
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
}

#pic_recipe > img {
    height: 100%;
    width: auto;
}

.card-body {
    height: 197.81px;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 4px 4px;
}

@media (min-width: 992px) {
    #other_recipe {
        margin-bottom: 79.19px;
    }

    /* Estilos de las cards */
    #recipe_1 {
        margin-right: 8px;
    }

    #recipe_2 {
        margin: 0 8px;
    }

    #recipe_3 {
        margin-left: 8px;
    }

    #pic_recipe {
        height: 180px;
    }
}


/* ---- Suscripcion ---- */
#subscription {
    height: 534px;
    background-color: #DC3545;
    color: #FFFFFF
}

.subs_tittle {
    margin-top: 150.5px;
}

.subs_tittle_2 {
    margin-bottom: 39.5px;
    font-size: 30px;
    line-height: 38px;
}

.subs_btn {
    line-height: 40px;
    width: 233px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #DC3545;
    color: #FFFFFF;
}

.subs_btn:hover {
    background-color: #DDDDDD;
    color: #DC3545;
}


/* ---- Footer ---- */
#footer {
    height: 90px;
    background-color: #373A3C;
    color: #FFF;
}

.logo_footer {
    font-family: 'Lobster', cursive;
}
