/*
font-family: 'Cabin', sans-serif;
font-family: 'Lobster', cursive;
*/
body {
    color: #373A3C;
    font-family: 'Cabin', sans-serif;
}

.container-fluid {
    margin: 0;
}

.tooltip-margin {
    margin: 5px;
}

.btn {
    border: 1px solid #DDDDDD;
    color: #373A3C;
}

.row {
    padding-left: 37px;
    padding-right: 37px;
}

@media (min-width: 992px) {
    .row {
        padding-left: 150px;
        padding-right: 150px;
    }
}

h1 {
    font-size: 40px;
    line-height: 49px;
    font-weight: bold;
}

/* ---- Navbar ---- */
#navbar {
    background-color: #373A3C;
    height: 60px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 37px;
}

.navbar-dark .navbar-toggler {
    border: 1px solid #777777;
}

.nav-link {
    color: #FFF !important;
}

.nav-link:hover {
    color: #DDDDDD !important;
}


/* ---- Header Styles ---- */
#header {
    margin-top: 24px;
    margin-bottom: 68px;
}

.tiempo {
    font-weight: bold;
}

@media (min-width: 992px) {
    .tiempo {
        font-size: 20px;
    }
}


/* ---- Carousel Styles ---- */
#img-carousel {
    padding: 0 8px;
}

#carouselExampleIndicators {
    height: 210px;
}

.carousel-indicators [data-bs-target] {
    background-color: #373A3C;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}


/* ---- Receta Styles ---- */
#pizza_recipe {
    font-size: 20px;
    line-height: 30px;
}


/* ---- Recetas relacionadas ---- */
#recipe_title {
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
}


/* ---- Suscripcion ---- */
#subscription {
    height: 534px;
    background-color: #DC3545;
    color: #FFFFFF
}

.subs_tittle {
    margin-top: 150.5px;
}

.subs_tittle_2 {
    margin-bottom: 39.5px;
    font-size: 30px;
    line-height: 38px;
}

.subs_btn {
    line-height: 40px;
    width: 233px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #DC3545;
    color: #FFFFFF;
}


/* ---- Footer ---- */
#footer {
    height: 90px;
    background-color: #373A3C;
    color: #FFF;
}

.logo_footer {
    font-family: 'Lobster', cursive;
}
